<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<title>「作曲できる奴ちょっとこい」のデータで遊ぶ</title>
<link rel="stylesheet" href="/r/index.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/r/index.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4203200-9']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<body>
  <div id="wrapper">
    <div id="intro">
      <h1>「作曲できる奴ちょっとこい」のデータで遊ぶ</h1>
      <p class="social-buttons">
        <a href="http://b.hatena.ne.jp/entry/http://sdc.oov.ch/" class="hatena-bookmark-button" data-hatena-bookmark-title="「作曲できる奴ちょっとこい」のデータで遊ぶ" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://sdc.oov.ch/" data-text="「作曲できる奴ちょっとこい」のデータで遊ぶ" data-count="horizontal" data-via="oovch">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsdc.oov.ch%2F&amp;layout=button_count&amp;show_faces=true&amp;width=130&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>
      </p>
      <p>
        <a target="_blank" href="http://www9.atpages.jp/stewmusic/akadb/">作曲できる奴ちょっとこい</a>
        のデータを使ってなんかやったりします。
      </p>
    </div>
    <div id="main">
      <h2>ランダム歌詞ジェネレーター</h2>
      <p>作曲できる奴ちょっとこいスレに投稿された歌詞を組み合わせて新しい歌詞を生成します。</p>
      <p>歌詞のテキストをクリックすると、作曲できる奴ちょっとこいのデータベースで検索できます。</p>
      <p>元の歌詞が気になった場合などにご利用ください。</p>
      <div id="random-lyric-container">
        <script type="text/guide">random-lyric</script>
        <div id="random-lyric">
          <p>
            {{range .lyric.Body}}
              {{with .}}
                <a title="No.{{.Source.No}} {{.Source.Title}}" href="http://www9.atpages.jp/stewmusic/akadb/songlist.php?key=no%3A{{.Source.No}}">{{.Body}}</a>
              {{end}}
              <br>
            {{end}}
          </p>
        </div>
        <p>
          この歌詞には<a href="/?r={{.lyric.Seed}}">このURL</a>で、いつでもアクセスできます。
          データベースが更新されるまでは。更新されたら内容も変わると思います。
        </p>
        <script type="text/guide">random-lyric</script>
      </div>

      <h2>ダウンロードできるようになりました</h2>
      <p>何がダウンロードできるようになったか、というと、このサイト自体です。</p>
      <p>
        <a href="/r/sdc.oov.ch.7z">ダウンロード(7-zip 形式、39MB)</a>
      </p>

      <h2>このサイトについて</h2>
      <p>このサイトは Go 言語で作られていて、ソースコードを公開しています。</p>
      <p>使用しているライブラリも含めて Pure Go で書かれているのでコンパイルも簡単です。</p>
      <ul>
        <li>
          <a href="https://bitbucket.org/oov/sdc.oov.ch">https://bitbucket.org/oov/sdc.oov.ch</a>
        </li>
        <li>
          <a href="https://bitbucket.org/oov/dgf">https://bitbucket.org/oov/dgf</a>
        </li>
      </ul>
    </div>
    <div id="footer">
      <p>内容については一切保証しません。</p>
    </div>
  </div>
</body>
</html>
