@charset "UTF-8";

/* Copyright (c) 2009, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 3.0.0 build: 1549 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
body{font:13px/1.231 "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
.clearfix:after,.ui-helper-clearfix:after{content:url(data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7);display:block;clear:both;height:0}.clearfix,.ui-helper-clearfix{display:inline-block;}.clearfix,.ui-helper-clearfix{display:block;}/*\*//*/.clearfix,.ui-helper-clearfix{overflow:hidden;}/**/

html,body {
	background-color: #ddd;
}
#wrapper {
	position: relative;
	color: #444;
	background-color: #fff;
	margin: 0 auto;
	width: 960px;
	border: solid #ccc;
	border-width: 0 1px;
	box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 12px #888;
	-webkit-box-shadow: 0 0 12px #888;
}

#intro {
	position: relative;
	color: #fff;
	background: #e64 url(/r/boon.png) no-repeat -12px -12px;
	padding-left: 224px;
	height: 108px;
}

#intro h1 {
	padding-top: 16px;
	font-size: 1px;
	text-indent: -10000px;
	overflow: hidden;
	background: url(/r/h1.png) no-repeat 0 bottom;
	width: 452px;
	height: 32px;
}

#intro p.social-buttons {
	position: absolute;
	text-align: right;
	right: 0;
	bottom: 0;
}

h2 {
	color: #e64;
	text-shadow: 0 1px 1px #aaa;
	margin: 16px;
	font-weight: bold;
	font-size: 130%;
}

#random-lyric {
	background: #f5f7f7 url(/r/paper.jpg) left top;
	text-shadow: 0 1px 2px #ccc;
	border: 1px solid #ccc;
	box-shadow: 0 2px 8px #888;
	-moz-box-shadow: 0 2px 8px #888;
	-webkit-box-shadow: 0 2px 8px #888;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 16px;
	padding: 16px;
	font-size: 120%;
	line-height: 1.6;
}

#random-lyric a {
	color: #444;
	text-decoration: none;
}

#random-lyric a:hover {
	color: #44f;
	text-decoration: underline;
}

#main p,
#main ul {
	margin: 16px;
}

input {
	display: block;
	width: 240px;
	margin: 16px auto;
}

#footer {
	color: #fff;
	background-color: #999;
	padding: 16px;
}
